{% extends 'front.html.twig' %}



{% block title %}Nos Formations{% endblock %}

{% block body %}
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h1>Nos Formations</h1>
                        </div>
                    </div>
                </div>
                <input class="form-control" id="myInput" type="text" placeholder="Recherche formation" aria-label="search" aria-describedby="search">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Idformation</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Niveau</th>
                                    <th>Prix</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody  id="hi">
                                {% for formation in formations %}
                                    <tr>
                                        <td>{{ formation.idformation }}</td>
                                        <td>{{ formation.titre }}</td>
                                        <td>{{ formation.description }}</td>
                                        <td>{{ formation.niveau }}</td>
                                        <td>{{ formation.prix }}</td>
                                        <td>
                                            <a href="{{ path('formation_show_front', {'idformation': formation.idformation}) }}" class="btn btn-dark">Details</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $("#myInput").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $("#hi tr").filter(function() {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1)

                            });
                        });
                    });
                </script>
                {{ knp_pagination_render(formations) }}
            </div>
        </div>
    </div>
{% endblock %}
