{% extends 'back.html.twig' %}



{% block title %}Ajouter Formation{% endblock %}

{% block body %}
    <div class="card-body">
        <h1 class="card-title">Ajouter Formation</h1>
        {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <div class="form-group">
            <label for="exampleInputNomcours">Titre</label>
            {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="exampleInputDescriptioncours">Description</label>
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="exampleInputFormation">Niveau</label>
            {{ form_widget(form.niveau, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label for="exampleInputFilecours">Prix</label>
            {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <input type="submit" value="Enregistrer" class="btn btn-success"/>


        {{ form_end(form) }}
    </div>
    <a href="{{ path('formation_index') }}" class="btn btn-success">Retour</a>

{% endblock %}