{% extends 'front.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'forms-sample'}}) }}

    <h4 class="card-title">Add Question</h4><br>


    <label for="exampleInputUsername1">Contenue: </label>
    {{ form_widget(form.contenu, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.contenu) }}<br>

    <input type="submit" value="Enregistrer" class="btn btn-success" formnovalidate/>


    {{ form_end(form) }}

    {{ form_end(form) }}
{% endblock %}
